@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 244, 244, 245;
    /* zinc-100 */
    --background-start-rgb: 9, 9, 11;
    /* zinc-950 */
    --background-end-rgb: 9, 9, 11;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Reader View Styles - Dark Mode Adapted */
.post-content {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.8;
    color: #d4d4d8;
    /* zinc-300 */
}

.post-content p {
    margin-bottom: 1.5em;
}

.post-content h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f4f4f5;
    /* zinc-100 */
    margin-top: 2em;
    margin-bottom: 1em;
}

.post-content h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #e4e4e7;
    /* zinc-200 */
    margin-top: 1.5em;
    margin-bottom: 0.75em;
}

.post-content ul,
.post-content ol {
    margin-bottom: 1.5em;
    padding-left: 1.5em;
    list-style-type: disc;
}

.post-content ol {
    list-style-type: decimal;
}

.post-content li {
    margin-bottom: 0.5em;
}

.post-content blockquote {
    border-left: 4px solid #3f3f46;
    /* zinc-700 */
    padding-left: 1em;
    font-style: italic;
    color: #a1a1aa;
    /* zinc-400 */
    margin-bottom: 1.5em;
}

.post-content a {
    color: #60a5fa;
    /* blue-400 - lighter for dark mode */
    text-decoration: underline;
    text-underline-offset: 2px;
}

.post-content img {
    border-radius: 0.5rem;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: auto;
}

.post-content figure {
    margin: 2em 0;
}

.post-content iframe {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 2em 0;
}